@import 'nib'
@import '../components/dpr/dpr'

noise(bkg = null)
  dpr('gfx/noise', 'png', 100px 100px, bkg)

dark = #333
darker = #222
darkest = #111
light = #ccc
lighter = #ddd
lightest = #eee
red = rgb(97.75, 34, 34)
dark-red = rgb(80.75, 17, 17)
green = rgb(34, 97.75, 34)
dark-green = rgb(17, 80.75, 17)
blue = rgb(34, 34, 97.75)
dark-blue = rgb(17, 17, 80.75)
font-family = 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif
