/*
= requireSelf
= requireTree .
*/

@import 'config'

global-reset()

html
body
  height 100%
body
  color #666
  font-size 14px
  font-family font-family
  text-align center
  word-wrap break-word
  dpr('gfx/logo', 'png', 600px 200px, center no-repeat #fff)
img
  vertical-align bottom
input
textarea
  margin 0
  outline 0
  border 0
  border-radius 0
  box-shadow none
  dynamic-font()
.field
  position relative
  font-size 14px
  .error
  .description
    position relative
    padding 10px
  .description
    z-index 1
    noise(darker)
  .error
    noise(red)
  label
    display inline-block
    box-sizing border-box
    width 50%
    right 50%
    padding 10px
    text-align right
    vertical-align bottom
  input
    box-sizing border-box
    width 50%
    padding 10px
    vertical-align bottom
    color dark
    noise(light)
    font-size 14px
    &.js-active
    &:focus
      color black
      noise(white)
.message
  margin 0 auto
  padding 10px
  max-width 548px
.error
  display none
h1
h2
  padding 10px
  noise(darkest)
  color lightest
h1
  font-size 60px
h2
  font-size 30px
h3
  padding 10px
  noise(darker)
  color lighter
.button
  display inline-block
  cursor pointer
  padding 10px
  font-size 16px
  color lighter
  noise(darker)
  &.js-active
    color lightest
    noise(darkest)
  &.js-none
    display none
.h-buttons
  noise(darker)
.v-buttons .button
  display block
  &:not(:last-child)
    margin-bottom 10px
