<%= o.include('_header') %>
<div class='user-box'>
  <span class='js-user-count user-count'>Loading</span> Users
</div>
<div class='js-toggle-monitor toggle-monitor'>
  Monitor is <span class='js-on-or-off on-or-off'>Off</span>
</div>
<%= o.include('_footer') %>
